---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
const { sideBarActiveItemID } = Astro.props;

import ProfileImage from "../../public/profile.png";
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside
    class="px-2 pt-2 h-auto min-h-full w-[16rem] bg-base-200 text-base-content flex flex-col"
  >
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="/">
        <div
          class="avatar transition ease-in-out hover:scale-[102%] block m-auto"
        >
          <div class="w-[7.5rem] lg:w-[8.5rem]">
            <Image
              class="mask mask-circle"
              format="webp"
              width={300}
              height={300}
              src={ProfileImage}
              alt="Profile image"
              loading="eager"
            />
          </div>
        </div>
      </a>
    </div>
    <SideBarFooter />
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />

    <div class="mx-2 mb-4 hidden lg:flex">
      <ThemeSwitcher iconSize={30} initPage={true} />
    </div>
  </aside>
</div>
